# Ignore node_modules since it will be installed inside the container
node_modules
build
dist

# Ignore logs and temp files
*.log
*.tmp
*.cache

# Ignore local environment configuration
.env
.env.local

# Ignore yarn error log
yarn-error.log

# Ignore git directory and related files
.git
.gitignore

# Ignore IDE/editor specific files
.vscode
.idea
*.swp

# Ignore Docker-specific files
Dockerfile
docker-compose.yml

# Ignore any other unnecessary files or directories
README.md
LICENSE